<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DotNetSeleniumExtras.WaitHelpers" version="3.11.0" targetFramework="net48" />
  <package id="GlobalHotKey" version="1.1.0" targetFramework="net48" />
  <package id="MouseKeyHook" version="5.7.1" targetFramework="net48" />
  <package id="Selenium.Chrome.WebDriver" version="85.0.0" targetFramework="net48" />
  <package id="Selenium.WebDriver" version="4.9.1" targetFramework="net48" />
  <package id="WindowsInput" version="6.4.1" targetFramework="net48" />
</packages>